<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    <div class="page-container">
        <h1 class="page-title">{{title}}</h1>
        {{>commentForm}}
        <hr>
        {{>commentsContainer}}
        <script src="js/comments.js"></script>
</body>

</html>