<html lang="en">

{{>head}}

<body>
    <div class="page-container center">
        <h1 class="page-title">{{title}}</h1>
        <form id="profile-form" class="profiles-container">
            {{#each users}}
            {{>profileInfo}}
            {{/each}}
        </form>
    </div>
    <script src="js/index.js"></script>
</body>

</html>