<html lang="en">

{{>head}}

<body>
  <div class="page-container center gapped">
    <h1 class="page-title">{{title}}</h1>
    <p class="page-message">The page you are looking for was moved, removed, renamed
      or might never existed.</p>
    <a role="button" href="/" aria-label="Go to homepage">
      <button class="primary-button">Go Back to Home</button>
    </a>
  </div>

</body>

</html>